[package]
name = "game-server"
version = "0.1.0"
authors = ["Shady Khalifa <shekohex@gmail.com>"]
edition = "2018"


[dependencies]
thiserror = "1.0"
serde = { version = "1.0", features = ["derive"] }
bytes = "1.1"
tq-network = { path = "../../core/network" }
tq-serde = { path = "../../core/serde" }
tq-math = { path = "../../core/math" }
primitives = { path = "../../core/primitives" }
async-trait = "0.1"
tracing = "0.1"
tracing-futures = "0.2"
dotenv = "0.15"
once_cell = "1.4"
fastrand = "1.3"
encoding = "0.2"
bitflags = "1.2"
argh = "0.1"
tokio-stream = "0.1.8"

# Utils
num_enum = { version = "0.5.1", default-features = false }

[dependencies.tracing-subscriber]
version = "0.3"
default-features = false
features = ["env-filter", "ansi", "fmt", "smallvec"]

# Runtime
[dependencies.tokio]
version = "1.17"
default-features = false
features = ["rt-multi-thread", "macros", "signal", "sync"]

# Database
[dependencies.sqlx]
version = "0.5.13"
default-features = false
features = ["runtime-tokio-rustls", "sqlite", "time"]
